/* Основной цвет текста */
:root {
  --main-color: #757575;
  --background-color: #ffffff;
  --akcent-color: #2196f3;
  --secondary-color: #212121;
  --backgroung-secondary-color: #2f303a;
  --background-color-buttom: #f5f4fa;
}

body {
  background-color: var(--background-color);
  color: var(--main-color);
  font-family: 'Roboto', 'Raleway', sans-serif;
  width: 1600px;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  color: var(--secondary-color);
}
a{
  text-decoration: none;
}
/* Шапка Навигация  */

.link-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  text-decoration: none;
  color: black;
}
.link-nav a:hover,
.link-nav a:focus {
  color: var(--akcent-color);
}
.head-mail .mail-tel{
  color: var(--main-color);
}

.mail-tel {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.mail-tel:hover,
.mail-tel:focus {
  color: var(--akcent-color);
}
.link-nav .link-current {
  color: var(--akcent-color);
}
/* Кнопка */
.buttom {
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  width: 200px;
  height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  background: #2196f3;
  color: var(--background-color-buttom);
}
.buttom:hover {
  background-color: var(--akcent-color);
  color: var(--background-color-buttom);
}

/* Секция 1 */
.hero {
  background-color: var(--backgroung-secondary-color);
}
h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color-buttom);
}
/* Секция 2  */
.h3-section2 {
  font-size: 14px;
  line-height: 1.1;

  text-transform: uppercase;
  color: var(--secondary-color);
}
.p-section2 {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.7;
}
/* Секция 3 */
.h2-section3 {
  font-size: 36px;
  line-height: 1.1;
  color: var(--secondary-color);
}
/* Секция 4 */
.section4 {
  background-color: var(--background-color-buttom);
}
.h2-section4 {
  font-size: 36px;
  line-height: 1.1;
  color: var(--secondary-color);
}
.name-people {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: var(--secondary-color);
}
.name-work {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.1;
}

/* основной цвет текста #757575 */
/* вторичный цвет текста  #212121 */
/* акцент цвет #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* основной цвет фона #E5E5E5 */
footer {
  width: 1600px;
height: 252px;
left: 0px;
top: 2097px;
background: #2F303A;
  
}
.logo{
  color: var(--background-color);
  width: 145px;
height: 31px;
left: 215px;
top: 2157px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;


letter-spacing: 0.03em;
}
span{
  color: var(--akcent-color);
  width: 145px;
height: 31px;
left: 215px;
top: 2157px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;


letter-spacing: 0.03em;

}
address {
  
width: 231px;
height: 21px;
left: 215px;
top: 2208px;

font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.7;
/* or 171% */

letter-spacing: 0.03em;

color: var(--background-color);
}
/* Макет № 2 */
/* Кнопки меню */
.button-work {
  color: var(--secondary-color);
 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.board-one {
  background-color: var(--background-color-buttom);
  
}
.button-work:hover,
.button-work:focus {
  color: var(--background-color);
}
.board-one:hover,
.board-one:focus {
  background-color: var(--akcent-color);
}
.board-two {
  background-color: var(--background-color-buttom);
}
.board-two:hover,
.board-two:focus {
  background-color: var(--akcent-color);
}
.board-three {
  background-color: var(--background-color-buttom);
 
}
.board-three:hover,
.board-three:focus {
  background-color: var(--akcent-color);
}
.board-four {
  background-color: var(--background-color-buttom);
}
.board-four:hover,
.board-four:focus {
  background-color: var(--akcent-color);
}
.board-five {
  background-color: var(--background-color-buttom);
}
.board-five:hover,
.board-five:focus {
  background-color: var(--akcent-color);
}
/* Примеры работ */
.h2-Example-of-work{
  color: var(--secondary-color);
  width: 322px;
height: 36px;
left: 639px;
top: 576px;


font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;


letter-spacing: 0.06em;
}
.p-Example-of-work{
  width: 322px;
height: 30px;
left: 239px;
top: 616px;

font-family: Roboto;
font-size: 16px;
line-height: 30px;

letter-spacing: 0.03em;
}
